In [1]:
import pandas as pd
import numpy as np

In [42]:
churn_proba = pd.read_csv('../data/tableau_data/churn_proba.csv')
full_data = pd.read_csv('../data/fill_data/full_data.csv')

print("churn_proba.shape: ", churn_proba.shape)
print("full_data.shape: ", full_data.shape)

churn_proba.shape:  (115059, 1)
full_data.shape:  (115059, 85)

#### set label

In [43]:
def set_label(prob):
    if prob < 0.2:
        return "UnderTwo"
    elif (0.2 <= prob) & (prob < 0.4):
        return "TwotoFour"
    elif (0.4 <= prob) & (prob < 0.6):
        return "FourtoSix"
    elif (0.6 <= prob) & (prob < 0.8):
        return "SixtoEight"
    else:
        return "OverEight"

In [44]:
churn_proba.columns = ['prob']

In [45]:
churn_proba['churn_label'] = churn_proba.prob.apply(set_label)

In [46]:
churn_proba['num'] = 1

In [47]:
churn_proba

            prob churn_label  num
0       0.791554  SixtoEight    1
1       0.829057   OverEight    1
2       0.749934  SixtoEight    1
3       0.384220   TwotoFour    1
4       0.718923  SixtoEight    1
...          ...         ...  ...
115054  0.622695  SixtoEight    1
115055  0.788018  SixtoEight    1
115056  0.818909   OverEight    1
115057  0.827668   OverEight    1
115058  0.549302   FourtoSix    1

[115059 rows x 3 columns]

#### rfm

In [48]:
full_data[['E1', 'C2_m3', 'C1_m3']] # recency, frequency, monetary

         E1  C2_m3       C1_m3
0       965    2.0    50024.17
1       368    7.0   420114.56
2       199    2.0    67007.14
3       120    1.0      610.81
4        40    1.0     4781.40
...     ...    ...         ...
115054  267    2.0    20000.21
115055   54    2.0    50003.17
115056   34    2.0    80002.53
115057   39    2.0   200010.95
115058  859    1.0  1025322.07

[115059 rows x 3 columns]

In [49]:
tableau_data = pd.concat([churn_proba, full_data], axis = 1)

In [27]:
tableau_data.to_csv('../data/tableau_data/tableau_data.csv', index = None)

#### table join

In [28]:
rfm_data = pd.read_csv('../data/tableau_data/rfm.csv')

In [30]:
print("rfm_data.shape: ", rfm_data.shape)

rfm_data.shape:  (54719, 28)

In [31]:
len(rfm_data.cust_no.unique())

42309

In [33]:
rfm_data.loc[rfm_data.duplicated(subset = ['cust_no']), 'cust_no'] = rfm_data.loc[rfm_data.duplicated(subset = ['cust_no']), 'cust_no'].apply(lambda x : x + "d")

In [35]:
len(rfm_data.cust_no.unique())

54719

In [54]:
# merge
final_tableau = pd.merge(tableau_data, rfm_data)
final_tableau.to_csv('../data/tableau_data/final_tableau.csv', index = None)

In [55]:
final_tableau

,prob,churn_label,num,cust_no,E1,E2,E3,E4,E5,E6,...,정기 예금 평균잔액,입출금 통장 평균잔액,금융 상품 평균잔액,펀드 평균잔액,대출 평균잔액,ltv,predicted_transactions,predicted_monetary_value,scaled_ltv,segment
0,0.791554,SixtoEight,1,0xb2d283b6,965,965.0,965.0,1,0,209.0,...,0.0,62.220000,0.000000,0.0,0.000000e+00,2.000887e+04,1.313113,2.804109e+04,1.131649e-05,4등급
1,0.829057,OverEight,1,0xb2d62fab,368,368.0,368.0,0,1,173.0,...,0.0,16704.573333,60000.000000,0.0,0.000000e+00,1.000263e+06,11.357649,1.620640e+05,5.657226e-04,1등급
2,0.242605,TwotoFour,1,0xb2d50930,441,441.0,441.0,1,1,441.0,...,0.0,152.823333,0.000000,0.0,0.000000e+00,4.359387e+01,0.295517,2.714704e+02,2.465556e-08,4등급
3,0.684543,SixtoEight,1,0xb2d6c8b9,167,167.0,167.0,1,1,100.0,...,0.0,32914.293333,0.000000,0.0,0.000000e+00,6.416033e+05,23.532572,5.016919e+04,3.628741e-04,1등급
4,0.825115,OverEight,1,0xb2d1fa70,1272,1272.0,1272.0,1,1,230.0,...,0.0,225.276667,56666.666667,0.0,0.000000e+00,6.855655e+05,3.239118,3.894851e+05,3.877380e-04,1등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54714,0.703219,SixtoEight,1,0xb2d23dc6d,1078,1078.0,1078.0,1,0,374.0,...,0.0,645.100000,0.000000,0.0,1.537608e+06,1.334006e+06,1.823539,1.346163e+06,7.544791e-04,1등급
54715,0.816060,OverEight,1,0xb2d0bb2ad,1639,1639.0,1639.0,1,1,510.0,...,0.0,1626.273333,0.000000,0.0,0.000000e+00,1.370431e+05,0.430691,5.855656e+05,7.750802e-05,3등급
54716,0.829829,OverEight,1,0xb2d0756fd,1816,1448.0,1448.0,1,1,566.0,...,0.0,4318.353333,0.000000,0.0,0.000000e+00,4.016812e+04,0.198846,3.717506e+05,2.271804e-05,3등급
54717,0.826207,OverEight,1,0xb2d1031b,1545,1545.0,1545.0,1,0,599.0,...,0.0,65.013333,0.000000,0.0,0.000000e+00,1.945469e+04,0.665285,5.381513e+04,1.100306e-05,4등급
54718,0.549302,FourtoSix,1,0xb2d32b39d,859,859.0,859.0,1,1,306.0,...,0.0,358652.016667,0.000000,0.0,2.446667e+06,1.893763e+06,1.581556,2.203517e+06,1.071063e-03,1등급