In [4]:
import os
import numpy as np
import pandas as pd
dir = os.getcwd()

### 데이터 불러오기

In [19]:
train = pd.read_csv(dir + "/data/preprocessed_data/train_data.csv")
test = pd.read_csv(dir + "/data/preprocessed_data/test_data.csv")
valid = pd.read_csv(dir + "/data/preprocessed_data/valid_data.csv")

train_fil = train.fillna(0.5)
test_fil = test.fillna(0.5)
valid_fil = valid.fillna(0.5)

nim = pd.read_csv(dir + "/data/NIM.csv")
inf_rate = pd.read_csv(dir + "/data/inf_rate.csv")
lifetable = pd.read_csv(dir + "/data/lifetable.csv", header=1)

In [153]:
lifetable = lifetable.iloc[:,:5]
deathproba = lifetable[lifetable["Indicator"]=="nqx - probability of dying between ages x and x+n"].copy()
deathproba

,Indicator,Age Group,Both sexes,Male,Female
19,nqx - probability of dying between ages x and x+n,<1 year,0.006764,0.007174,0.006303
20,nqx - probability of dying between ages x and x+n,1-4 years,0.001144,0.001209,0.001072
21,nqx - probability of dying between ages x and x+n,5-9 years,0.000925,0.000976,0.000865
22,nqx - probability of dying between ages x and x+n,10-14 years,0.000970,0.001209,0.000691
23,nqx - probability of dying between ages x and x+n,15-19 years,0.001797,0.002407,0.001096
24,nqx - probability of dying between ages x and x+n,20-24 years,0.002811,0.003951,0.001523
25,nqx - probability of dying between ages x and x+n,25-29 years,0.003053,0.004367,0.001608
26,nqx - probability of dying between ages x and x+n,30-34 years,0.004240,0.006103,0.002259
27,nqx - probability of dying between ages x and x+n,35-39 years,0.006188,0.008829,0.003410
28,nqx - probability of dying between ages x and x+n,40-44 years,0.009315,0.013058,0.005384
29,nqx - probability of dying between ages x and x+n,45-49 years,0.012327,0.016951,0.007506
30,nqx - probability of dying between ages x and x+n,50-54 years,0.019566,0.026292,0.012664
31,nqx - probability of dying between ages x and x+n,55-59 years,0.030500,0.040308,0.020346
32,nqx - probability of dying between ages x and x+n,60-64 years,0.048779,0.063360,0.033885
33,nqx - probability of dying between ages x and x+n,65-69 years,0.078139,0.099219,0.057235
34,nqx - probability of dying between ages x and x+n,70-74 years,0.137237,0.171907,0.104402
35,nqx - probability of dying between ages x and x+n,75-79 years,0.221446,0.272107,0.175377
36,nqx - probability of dying between ages x and x+n,80-84 years,0.371374,0.445129,0.311350
37,nqx - probability of dying between ages x and x+n,85+ years,1.000000,1.000000,1.000000

In [130]:
pd.RangeIndex(0,len(deathproba))

RangeIndex(start=0, stop=19, step=1)

#### 각 Age Group안에서 사망확률이 uniform 분포를 따른다고 가정하고 1년 단위의 데이터를 만들자

In [168]:
def qlist(k):
    p= 1-k/5
    count=1
    mul = 1
    q_list = []
    q_list.append(1-p)
    while count<5:
        mul*=p
        p = (1-(count+1)*(k/5)/mul)
        q_list.append(1-p)
        count+=1
    return q_list

In [162]:
def ann_age(data):
    first= data[19]
    last= data[37]
    data = data.drop([19,37])
    annual_data = np.array(first).reshape((1,1))
    for p in data:
        annual_data = np.vstack((annual_data,np.array(qlist(p)).reshape((5,1))))
    return annual_data

In [169]:
qlist(0.445129)

[0.08902580000000004,
 0.1954518580218847,
 0.36440055198188737,
 0.7644238901678069,
 4.0561407665251235]

In [167]:
deathproba["Male"].drop([19,37])

20    0.001209
21    0.000976
22    0.001209
23    0.002407
24    0.003951
25    0.004367
26    0.006103
27    0.008829
28    0.013058
29    0.016951
30    0.026292
31    0.040308
32    0.063360
33    0.099219
34    0.171907
35    0.272107
36    0.445129
Name: Male, dtype: float64

In [165]:
ann_age(deathproba["Male"])

array([[7.17364400e-03],
       [2.41748400e-04],
       [4.83613713e-04],
       [7.25771562e-04],
       [9.68398252e-04],
       [1.21167120e-03],
       [1.95192200e-04],
       [3.90460615e-04],
       [5.85919701e-04],
       [7.81684272e-04],
       [9.77869725e-04],
       [2.41789200e-04],
       [4.83695352e-04],
       [7.25894140e-04],
       [9.68561927e-04],
       [1.21187619e-03],
       [4.81353800e-04],
       [9.63171226e-04],
       [1.44614973e-03],
       [1.93099214e-03],
       [2.41841011e-03],
       [7.90275600e-04],
       [1.58180126e-03],
       [2.37646098e-03],
       [3.17616266e-03],
       [3.98285352e-03],
       [8.73322800e-04],
       [1.74817232e-03],
       [2.62685067e-03],
       [3.51169225e-03],
       [4.40508461e-03],
       [1.22060560e-03],
       [2.44419460e-03],
       [3.67527498e-03],
       [4.91844328e-03],
       [6.17844241e-03],
       [1.76573520e-03],
       [3.53771707e-03],
       [5.32541542e-03],
       [7.13856974e-03],
       [8.98736914e-03],
       [2.61167180e-03],
       [5.23702098e-03],
       [7.89688764e-03],
       [1.06129931e-02],
       [1.34085462e-02],
       [3.39015280e-03],
       [6.80337006e-03],
       [1.02749594e-02],
       [1.38421737e-02],
       [1.75455862e-02],
       [5.25835040e-03],
       [1.05722936e-02],
       [1.60278920e-02],
       [2.17186265e-02],
       [2.77509966e-02],
       [8.06154060e-03],
       [1.62541144e-02],
       [2.47840138e-02],
       [3.38851621e-02],
       [4.38420475e-02],
       [1.26719662e-02],
       [2.56692118e-02],
       [3.95182192e-02],
       [5.48588844e-02],
       [7.25538275e-02],
       [1.98438408e-02],
       [4.04911822e-02],
       [6.32998594e-02],
       [9.01033414e-02],
       [1.23782383e-01],
       [3.43814632e-02],
       [7.12112742e-02],
       [1.15006684e-01],
       [1.73269382e-01],
       [2.61979807e-01],
       [5.44213626e-02],
       [1.15107005e-01],
       [1.95120211e-01],
       [3.23228742e-01],
       [5.97005151e-01],
       [8.90257006e-02],
       [1.95451618e-01],
       [3.64399997e-01],
       [7.64422058e-01],
       [4.05609950e+00]])

In [164]:
a = pd.DataFrame(ann_age(deathproba["Male"]))
a

           0
0   0.007174
1   0.000242
2   0.000484
3   0.000726
4   0.000968
..       ...
81  0.089026
82  0.195452
83  0.364400
84  0.764422
85  4.056099

[86 rows x 1 columns]

In [126]:
deathproba["Male"].index

Int64Index([19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
            36, 37],
           dtype='int64')

In [137]:
a = ann_age(deathproba["Male"])
a

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 1, the array at index 0 has size 1 and the array at index 1 has size 5

In [102]:
pd.DataFrame([1])

   0
0  1

In [68]:
deathproba["Male"]

19    0.007174
20    0.001209
21    0.000976
22    0.001209
23    0.002407
24    0.003951
25    0.004367
26    0.006103
27    0.008829
28    0.013058
29    0.016951
30    0.026292
31    0.040308
32    0.063360
33    0.099219
34    0.171907
35    0.272107
36    0.445129
37    1.000000
Name: Male, dtype: float64

### 평균물가상승률 구하기

In [21]:
inf_rate

   year  inf rate
0  2021      0.85
1  2020      2.39
2  2019      2.90
3  2018      2.11
4  2017      1.56
5  2016      2.00
6  2015      1.44
7  2014      1.99
8  2013      2.62
9  2012      2.65

In [23]:
# 2012~2021년 10년 동안의 물가상승률의 평균을 i로 사용하자
i = np.mean(inf_rate["inf rate"])
i

2.0509999999999997

### 함수 정의

In [26]:
#위의 표에서 어느 age group에 들어가는지 구하는 함수.
def Agediv(age):
    if age<1:
        return 1
    elif age<5:
        return 2
    elif age<10:
        return 3
    elif age<15:
        return 4
    elif age<20:
        return 5
    elif age<25:
        return 6
    elif age<30:
        return 7
    elif age<35:
        return 8
    elif age<40:
        return 9
    elif age<45:
        return 10
    elif age<50:
        return 11
    elif age<55:
        return 12
    elif age<60:
        return 13
    elif age<65:
        return 14
    elif age<70:
        return 15
    elif age<75:
        return 16
    elif age<80:
        return 17
    elif age<85:
        return 18
    else:
        return 19

In [25]:
def inflation(i, num):
    """
    Args:
        i (float): interest rate
        num (int): how many times paid
    """
    vn = 1
    for n in range(num):
        vn = vn/(1+i)
    return vn

In [10]:
def findAx(data, deathproba, i):
    """
    this is a function to find Ax of every individuals when 5qx data is given, and make it into a pandas series.
        Args:
            data (dataframe): requires age, gender of each indiviuals
            deathproba (dataframe): 5qx data in 5yrs period for male, female and both sexes.
            i (float): avg inflation rate 
            ini (float): geometric series of average interest rate to 2.5yrs (initial Ax)

    """
    Ax_list = []
    for ind, age in enumerate(data["I2"]):
        ran = Agediv(age)-1
        gen = data["I1"].iloc[ind]

        if (gen==0.0):
            prob_copy = deathproba.loc[:,"Female"].iloc[ran:].copy()
        elif(gen ==1.0):
            prob_copy = deathproba.loc[:,"Male"].iloc[ran:].copy()
        elif(gen == 0.5):
            prob_copy = deathproba.loc[:,"Both sexes"].iloc[ran:].copy()
        
        aqx_list = []
        Ax = 0
        for a in range(len(prob_copy)):
            if(a==0):
                aqx = prob_copy.iloc[a]
            else:
                aqx = 1
                for b in range(a):
                    aqx *= (1-prob_copy.iloc[b])
                aqx *= prob_copy.iloc[a]
            aqx_list.append(aqx)
        for num, aqx in enumerate(aqx_list):
            Ax += inflation(i,num+1)*aqx

        Ax_list.append(Ax)
    
    return Ax_list

In [11]:
# test purpose
a = [0.007506399, 0.012568696794625356, 0.019938001886493584, 0.03252870019129668, 0.05308280494572649, 0.09128655770408828, 0.1373359616916808, 0.20105508100835345, 0.4446977967777354]
sum=0
for num in a:
    sum+=num
print(sum)

1.0

In [12]:
findAx(train_fil, deathproba, 0.342)

TypeError: findAx() takes 3 positional arguments but 4 were given

In [156]:
a = [0.007506399, 0.012568696794625356, 0.019938001886493584, 0.03252870019129668, 0.05308280494572649, 0.09128655770408828, 0.1373359616916808, 0.20105508100835345, 0.4446977967777354]
sum=0
for num in a:
    sum+=num
print(sum)

1.0

In [ ]:
deathproba.loc[:,"Female"].iloc[1:]

20    0.001072
21    0.000865
22    0.000691
23    0.001096
24    0.001523
25    0.001608
26    0.002259
27    0.003410
28    0.005384
29    0.007506
30    0.012664
31    0.020346
32    0.033885
33    0.057235
34    0.104402
35    0.175377
36    0.311350
37    1.000000
Name: Female, dtype: float64

In [70]:
i = 0.342
sum = 0
sum = (1+i)*sum+1
sum = (1+i)*sum +1
sum = (1+i)*sum +1
sum

4.142964